POSTGRES_USER=lynx
POSTGRES_PASSWORD=lynx
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lynx

LYNX_SECURITY_JWT_SECRET=change-me
LYNX_SECURITY_JWT_REFRESH_TOKEN_SECRET=change-me-too
LYNX_DATA_DATABASE_SOURCE=postgresql://lynx:lynx@localhost:5432/lynx?sslmode=disable
LYNX_DATA_REDIS_PASSWORD=123456
LYNX_FILE_BUCKETS_DEFAULT_ACCESS_KEY_ID=replace-with-access-key-id
LYNX_FILE_BUCKETS_DEFAULT_ACCESS_KEY_SECRET=replace-with-access-key-secret
