POSTGRES_USER=skyline
POSTGRES_PASSWORD=skyline
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=skyline

LYNX_SECURITY_JWT_SECRET=change-me
LYNX_SECURITY_JWT_REFRESH_TOKEN_SECRET=change-me-too
LYNX_DATA_DATABASE_SOURCE=postgresql://skyline:skyline@localhost:5432/skyline?sslmode=disable
LYNX_DATA_REDIS_PASSWORD=123456
LYNX_FILE_BUCKETS_DEFAULT_ACCESS_KEY_ID=replace-with-access-key-id
LYNX_FILE_BUCKETS_DEFAULT_ACCESS_KEY_SECRET=replace-with-access-key-secret
